package sections

templ Footing(text string){
    <div class="footing-container" style="margin-top: 2rem; margin-bottom: 1rem;">
        <h1 class="font-semibold text-center bebas-neue-regular gradient-text hero-footing">{text}</h1>
    </div>
}