package sections

templ Footer(text string){
    <footer style="width:100%;text-align:center;padding:1rem 0;color:#9aa0a6;background:transparent;">
        <p style="margin-top: auto;">{text}</p>
    </footer>
}