package sections

templ ImageContainer(imageSrc string, altText string){
    <div class="image-container" style="width: 80vw;">
        <img src={imageSrc} alt={altText} class="mx-auto hero-image" style="max-width:100%;height:auto;display:block;margin:0 auto;" />
    </div>
}