package pages

import "github.com/Sadotib/cc_project/views/sections"
import "github.com/Sadotib/cc_project/views/layouts"

templ Home(){
    @layouts.Base(){        
        @sections.Footing("Cloud")
        @sections.Footer("© 2024 Cloud Project" )
    }
}